@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

:root{
    --meeseck-color: #7fc3ec;
    --meeseck-dark-color:#559CBD;
    --mouth-inside: #801233;
    --tooth: #fce9ab;
    --hair: #b8564a;
    --title-color: #100F0F;
    --page-color: #131313;
    --background-white:#eeeff3;
    --hero: #303136;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

.header {
    background: radial-gradient(circle at right top, #559CBD , #6BDFFF);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header__content_left {
    padding: 20px;
}

.header__content_right {
    /* background-color: var(--meeseck-dark-color); */
    padding: 40px;
}

.header__title {
    color: var(--title-color) ;
    font-family: 'Heebo', sans-serif;
    font-size: 13rem;
    line-height: 13rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.header__title_divider {
    display: block;
}


.header__drawing {
    position: relative;
    z-index: 2;
    height: 700px;
    width: 700px;
    border: 3px solid black;
    border-radius: 50%;
    /* transform: translateY(-700px); */
    animation: apear 3s ease ;
}


.eyes__container {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    height: 50%;
    /* border: 1px solid #559CBD; */
}

@keyframes apear {
    10% {
        transform: translateY(-700px);
    }


    50% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-35px);
    }

    80% {
        transform: translateY(0px);
    }

    90% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.eyebrow {
    position: absolute;
    top: 75px;
    width: 80px;
    height: 80px;
    border-top: 6px solid black;
    border-radius: 5px;
}

.eyebrow--right {
    right: 230px;
    transform: rotate(15deg);
}

.eyebrow--left {
    left: 210px;
    /* border-radius: ; */
    transform: rotate(-25deg);

}

.eye {
    position: absolute;
    top: 125px;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.eye--right {
    right: 210px;
}

.eye--left {
    left: 210px;
}


.iris {
    background-color: white;
    position: absolute;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.iris--right {
    right: 35px;
}

.iris--left {
    left: 35px;
}

.mouth__container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50%;
}

.mouth {
    position: absolute;
    right: 20%;
    left: 20%;
    top: 5%;
    width: 60%;
    height: 40%;
    border: 3px solid black;
    background-color: var(--mouth-inside);
    border-radius: 200px;
}

.tooth__container {
    position: absolute;
    right: 12.5%;
    left: 12.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
    height: 40%;
}

.tooth__container--top {
    top: 0;
}

.tooth__container--bottom {
    bottom: 0;
}

.teeth {
    background-color: var(--tooth);
    width: 95%;
    height: 100%;
    border: 3px solid black;
}

.tooth__container--top .teeth {
    border-radius: 0 0 50px 50px;
    border-top-color: transparent;
}


.tooth__container--bottom .teeth {
    border-radius: 50px 50px 0 0;
    border-bottom-color: transparent;

}

.tongue {
    position: absolute;
}


.main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 40px 0 20px;
}

.hero__title {
    color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 3rem;
    margin: 20px 0;
    /* margin-bottom: 20px; */
}

.hero__carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.carrusel-hero__image {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 40px;
}

.carrusel-hero__image--selected {
    display: block;
}

.carrusel__button {
    position: relative;
    width: 40px;
    height: 40px;
}

.carrusel__button img {
    width: 100%;
    height: 100%;
}




.carrusel-character__image {
    width: 350px;
    height: 350px;
    border-radius: 40px;
}

.characters_world__container {
    background-color: var(--background-white);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.characters__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.characters__title {
    font-size: 4.2rem;
    margin-bottom: 25px;
}

.characters__carrusel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
    height: 90%;
    padding: 0 100px;
    overflow: auto;
}

.worlds__container {
    width: 50%;
    height: 100%;
}


@media ( max-width: 1439px ) {
    .header__drawing {
        height: 500px;
        width: 500px;
    }


    .header__title {
        font-size: 11rem;
        line-height: 11rem;
    }

}

@media ( max-width: 1024px ) {
    .header__drawing {
        height: 400px;
        width: 400px;
    }
}


