@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

:root{
    --meeseck-color: #6BDFFF;
    --meeseck-dark-color:#559CBD;
    --title-color: #100F0F;
    --page-color: #1B1A17;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

.header {
    background: radial-gradient(circle at left bottom, #559CBD , #6BDFFF);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header__content_left {
    padding: 20px;
}

.header__content_right {
    /* background-color: var(--meeseck-dark-color); */
    padding: 40px;
}

.header__title {
    color: var(--title-color) ;
    font-family: 'Heebo', sans-serif;
    font-size: 13rem;
    line-height: 13rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.header__title_divider {
    display: block;
}





.header__drawing {
    position: relative;
    height: 700px;
    width: 700px;
    border: 3px solid black;
    border-radius: 50%;
    /* transform: translateY(-700px); */
    animation: apear 3s ease ; 
}

.eyes__container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    /* border: 1px solid #559CBD; */
}

@keyframes apear {
    10% {
        transform: translateY(-700px);
    }


    50% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-35px);
    }

    80% {
        transform: translateY(0px);
    }

    90% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.eyebrow {
    position: absolute;
    top: 75px;
    width: 80px;
    height: 80px;
    border-top: 6px solid black;
    /* border: 3px solid black; */
    border-radius: 5px;
}

.eyebrow--right {
    right: 230px;
    transform: rotate(15deg);
}

.eyebrow--left {
    left: 210px;
    /* border-radius: ; */
    transform: rotate(-25deg);

}



.eye {
    position: absolute;
    top: 125px;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.eye--right {
    right: 210px;
}

.eye--left {
    left: 210px;
}



.iris {
    background-color: white;
    position: absolute;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.iris--right {
    right: 35px;
}

.iris--left {
    left: 35px;
}

@media ( max-width: 1440px ) {
    .header__drawing {
        height: 500px;
        width: 500px;
    }


    .header__title {
        font-size: 11rem;
        line-height: 11rem;
    }

}

@media ( max-width: 1024px ) {
    .header__drawing {

        height: 400px;
        width: 400px;

    }
}


