@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

:root{
    --meeseck-color: #6BDFFF;
    --meeseck-dark-color:#559CBD;
    --title-color: #100F0F;
    --page-color: #1B1A17;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

.header {
    background: radial-gradient(circle at left bottom, #559CBD , #6BDFFF);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header__content_left {
    /* background-color: var(--meeseck-dark-color); */
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 70px;

}

.header__title {
    color: var(--title-color) ;
    font-family: 'Heebo', sans-serif;
    font-size: 13rem;
    line-height: 13.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.header__title_divider {
    display: block;
}



.header__content_right {
    /* background-color: var(--meeseck-dark-color); */
}

